{% extends 'website/base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block header_navigation %}
  {% include 'website/blog/blog_header_navigation.html' %}
{% endblock header_navigation %}


{% block content %}
  {% if featured_blog_post %}
    <section class="section section-gray-bg blog-posts-section featured">
      <div class="blog-post-list-heading">LATEST NEWS</div>
      <article class="container">
        <div class="row">
          <div class="medium-12 medium-centered columns">
            <div class="container-annotation">
              {% include 'website/blog/featured_blog_post.html' with blog_post=featured_blog_post %}
            </div>
          </div>
        </div>
      </article>
    </section>
  {% endif %}

  <section class="blog-posts-section">
    <div class="blog-post-list-heading">ALL NEWS</div>
    {% for blog_post in blog_posts %}
    <article class="container">
      <div class="row">
        <div class="medium-12 medium-centered">
          {% include 'website/blog/grid_blog_post.html' with blog_post=blog_post %}
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
{% endblock content %}
