{% load wagtailcore_tags wagtailimages_tags static %}

<div class="schedule-item-row">
  <div class="schedule-item schedule-lecture">
    <div class="schedule-item__hall">
      {% if is_workshop %}
      <div>{{ lecture_1.hall_name }}</div>
      {% else %}
      <div>Hall 1</div>
      {% endif %}
    </div>
    <div class="schedule-item__image">
      {% for speaker in lecture_1.speakers.all %}
        {% image speaker.picture fill-300x300 as speaker_picture %}
        <img src="{{ speaker_picture.url }}" />
      {% endfor %}
    </div>
    <div class="schedule-item__text">
      <div class="schedile-item__text__time">
        {{ lecture_1.start_time|date:"H:i" }} - {{ lecture_1.end_time|date:"H:i" }}
      </div>
      <div class="schedule-item__text__label">
        {{ lecture_1.topic }}
      </div>
      <div class="schedule-item__speaker">
        {% for speaker in lecture_1.speakers.all %}
          <span>{{speaker.name}}</span>
        {% endfor %}
      </div>
      {% if is_workshop and lecture_1.enroll_url %}
      <div class="sign-up-button-container">
        <a href="{{ lecture_1.enroll_url }}" target="_blank" class="sign-up-button">
          Sign up for workshop
        </a>
      </div>
      {% endif %}
      <div class="schedule-item__more">
        <img src="{% static 'images/icons/mag_glass.png' %}" />
      </div>
    </div>
    <div class="schedule-item-modal-wrapper">
      <div class="schedule-item-modal">
        <div class="close-button">X</div>
        
        <div class="speakers-container">
          {% for speaker in lecture_1.speakers.all %}
            {% image speaker.picture fill-300x300 as speaker_picture %}
            <img src="{{ speaker_picture.url }}" alt="{{ speaker.name }}" />
          {% endfor %}
        </div>
        <div class="lecture-container">
          <h2>{{ lecture_1.topic }}</h2>
          <div>
            {{ lecture_1.description | richtext }}
          </div>
        </div>
      </div>
    </div>
  </div>


  {% if lecture_2 %}
    <div class="schedule-item schedule-lecture">
      <div class="schedule-item__hall">
        <div>Hall 2</div>
      </div>
      <div class="schedule-item__image">
        {% for speaker in lecture_2.speakers.all %}
          {% image speaker.picture fill-300x300 as speaker_picture %}
          <img src="{{ speaker_picture.url }}" />
        {% endfor %}
      </div>
      <div class="schedule-item__text">
        <div class="schedile-item__text__time">
          {{ lecture_2.start_time|date:"H:i" }} - {{ lecture_2.end_time|date:"H:i" }}
        </div>
        <div class="schedule-item__text__label">
          {{ lecture_2.topic }}
        </div>
        <div class="schedule-item__speaker" >
        {% for speaker in lecture_2.speakers.all %}
          {{speaker.name}}
        {% endfor %}
        </div>
        <div class="schedule-item__more">
          <img src="{% static 'images/icons/mag_glass.png' %}" />
        </div>
      </div>
      <div class="schedule-item-modal-wrapper">
        <div class="schedule-item-modal">
          <div class="close-button">X</div>
          <div class="speakers-container">
            {% for speaker in lecture_2.speakers.all %}
              {% image speaker.picture fill-300x300 as speaker_picture %}
              <img src="{{ speaker_picture.url }}" alt="{{ speaker.name }}" />
            {% endfor %}
          </div>
          <div class="lecture-container">
            <h2>{{ lecture_2.topic }}</h2>
            <div>
              {{ lecture_2.description | richtext }}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>