{% extends 'website/base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block header_navigation %}
  {% include 'website/blog/blog_header_navigation.html' %}
{% endblock header_navigation %}

{% block content %}
{% image page.heading_image width-1200 as heading_image %}

<section class="breadcrumbs">
  <article class="container">
    <div class="row">
      <ul>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          {{page.title}}
        </li>
      </ul>
    </div>
  </article>
</section>
<section class="blog-post-content">
  <article class="container">
    <div class="row heading">
      <div class="medium-12 medium-centered text-center">
        <h2>{{page.title}}</h2>
        <img src="{{heading_image.url}}">
      </div>
    </div>
  </article>
  <article class="container">
    <div class="row">
      <div class="medium-12 medium-centered">
        <div class="content">
          {{page.content|richtext}}
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock content %}